<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo Page</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="col-md-12">
    <div class="text-center">
        <h1>Add new ToDO!</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="text-center">
        <h3>Add new Todo!</h3>
        <form style="padding: 30px" action="#" th:action="@{/add-new-todo}" method="post">
            <label for="todo">ToDo task:</label>
            <input type="text" id="todo" name="todo"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>